Add a new client:
<form method="post" action="/new_client">
  Client name:
  <input type="text" name="client_name">
  Expected retirement:
  <input type="text" name="client_retirement">
  Zip Code:
  <input type="text" name="client_zipcode">


  <button>Save</button>
</form>