<div class="hero-unit">
  <h1>Stocks, we love 'em.</h1>
  <p>I'm for sure using this super generic bootstrap template</p>
  <p>
    <a class="btn btn-primary btn-large" href="/stocks">
      Learn more
    </a>
  </p>
</div>