<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap_ed.css">
    <link rel="stylesheet" href="/bootstrap-responsive.css">

    <title>Ramberg & Novikova, Inc.</title>
  </head>

    <body>

      <div class="container">


        <div class="navbar">
            <div class="navbar-inner">
          <a class="brand" href="/">Ramberg & Novikova, Inc.</a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/portfolios">Portfolios</a></li>
            <li><a href="/stocks">Stocks</a></li>
          </ul>
        </div>
        </div>

        <div class="content">













          <%= yield %>
        </div>


      </div>

    </body>


</html>