<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap_ed.css">
    <link rel="stylesheet" href="/bootstrap-responsive.css">

    <title>GottaDoIt</title>
  </head>

    <body>

      <div class="container">


        <div class="navbar">
            <div class="navbar-inner">
          <a class="brand" href="/">GottaDoIt</a>
          <ul class="nav">
            <li class="divider-vertical"></li>

          </ul>
        </div>
        </div>

        <div class="content">













          <%= yield %>
        </div>


      </div>

    </body>


</html>